<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>L-Admin</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--<link rel="icon" type="image/png" href="__ADMIN_STATIC__/img/favicon.png">-->
<!--<link rel="stylesheet" href="__ADMIN_STATIC__/css/amazeui.min.css" />-->
<!--<link rel="stylesheet" href="__ADMIN_STATIC__/css/amazeui.datetimepicker.css" />-->
<link rel="stylesheet" href="__PUBLIC__/assets/layui/css/layui.css">
<link rel="stylesheet" href="__ADMIN_STATIC__/css/app.css">
<link rel="stylesheet" href="__ADMIN_STATIC__/css/admin.css">

<script src="__ADMIN_STATIC__/js/jquery.min.js"></script>
<!--<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>-->
<script src="__PUBLIC__/assets/layui/layui.all.js"></script>
<script type="text/javascript">
var adminApp = {
    path: {
        assets: "__ADMIN_STATIC__",
    },
};
</script>