{extend name="layout/passport" /} {block name="main"}
<div class="tpl-login">
    <div style="height: 90px;margin-top: 0px;width: 100%;background-color: #fff">
        <a href="/index.php"><img src="__PUBLIC__/static/index/images/home.jpg" style="width:500px;height:70px"/></a>
    </div>
    <div class="tpl-login-content">
        <div style="float: left">
            <div class="" style="margin-bottom: 25px;color: #335473;">
                <span style="text-align: center;font-size: 30px;margin-left: 60px;"><b>信息查询系统登录</b></span>
            </div>
            <div style="width: 449px;height: 300px;background-color: #335473;">
                <form class="am-form" method="post" data-am-validator style="padding-left:30px;padding-top: 40px;color: white;font-size: 20px">
                    <div class="layui-inline">
                        <label class="layui-form-label"><strong>账  号 :</strong></label>
                        <div class="layui-input-inline">
                            <input type="tel" name="account" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="layui-inline">
                        <label class="layui-form-label"><strong>密  码 :</strong></label>
                        <div class="layui-input-inline">
                            <input type="password" name="password" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="am-form-group" style="margin-left: 120px">
                        <button id="btn" type="button" style="background-color: yellow;color: #335473;font-size: 20px" class="layui-btn layui-btn-normal"><b>登  陆</b></button>
                        <input id="loginUrl" type="hidden" value="{$loginUrl}" />
                    </div>
                </form>
            </div>
        </div>
        <div style="float: left">
            <img style="width: 700px;" src="__PUBLIC__/static/index/images/banner2.jpg" alt="">
        </div>
        <div style="clear: both;"></div>
    </div>
</div>
<script>
    $('#btn').on('click',function(){
        var sendData = {
            account : $('input[name="account"]').val(),
            password : $('input[name="password"]').val()
        }
        var url = $('#loginUrl').val()
        $.post(url,sendData,function (res) {
            if(res.code == 200){
                window.location.href = res.data;
            }else{
                layer.msg(res.msg,{icon: 2, time: 1000});
            }
        })

    })
</script>
{/block}