{extend name="layout/base" /} {block name="main"}
<div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <div class="layui-inline">
            <label class="layui-form-label"></label>
            <div class="layui-input-inline">
                <input id="keyword" type="text" autocomplete="off" name="keyword" placeholder="搜索账号" class="layui-input">
            </div>
        </div>
        <a id="searchBtn" class="layui-btn layui-btn-warm">搜索</a>
        <a href="/admin.php/User/addUser" style="float: right" class="layui-btn layui-btn-warm">添加</a>
        <!--<i style="float: right" class="layui-icon">&#xe669;</i>-->
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>ID</th>
                <th width="20">名称</th>
                <th>密码</th>
                <th>备注</th>
                <th>添加时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody id="phoneList">
            </tbody>
        </table>
        <div id="pages"></div>
        <input type="hidden" id="editUrl" value="{$editUrl}">
        <input type="hidden" id="getUrl" value="{$getUrl}">
        <input type="hidden" id="delUrl" value="{$delUrl}">
    </div>
</div>
<script>

     filePage = 1;
     fileSize = 10;
     count = {$count};

    $(function () {
        getList()
        layui.use(['laypage', 'layer'], function() {
            var laypage = layui.laypage
            laypage.render({
                elem: 'pages',
                count: count,
                limit: fileSize,
                curr: filePage,
                jump: function (obj,first) {
                    filePage = obj.curr;
                    fileSize = obj.limit;
                    if(!first){
                        getList()
                    }
                }
            });
        })
    })


    $("#searchBtn").on('click',function () {
        var page = filePage;
        var size = fileSize;
        var keyword = $("#keyword").val();
        var url = $('#getUrl').val()
        $.post(url,{'keyword':keyword,'page':page,'size':size},function(dataList){
            if(dataList){
                randerList(dataList)
            }
        })
    })

    function getList(){
        var page = filePage;
        var size = fileSize;
        var url = $('#getUrl').val()
        $.post(url,{'page':page,'size':size},function(dataList){
            if(dataList){
                randerList(dataList)
                count = dataList.total;
            }
        })
    }


    function randerList(dataList){
            var temple = ''
            $.each(dataList.data, function (i, data) {
                temple += '<tr><td width="5%" class="phone_id">'+data.id+'</td>' +
                    '<td width="10%"> ' +
                    '<div class="layui-inline">' +
                    '<label class="layui-form-label"></label>' +
                    '<div class="layui-input-inline">' +
                    '<input style="border: white" type="tel" name="phone" value="'+data.name+'" class="layui-input phone">' +
                    '</div>' +
                    '</div>' +
                    '</td>' +
                    '<td width="10%">'+
                    '<div class="layui-inline">' +
                    '<label class="layui-form-label"></label>' +
                    '<div class="layui-input-inline">' +
                    '<input style="border: white" type="tel" name="phone" value="'+data.password+'" class="layui-input password">' +
                    '</div>' +
                    '</div>' +
                    '</td>' +
                    '<td>' +
                    '<div class="layui-inline" align="left">' +
                    '<label class="layui-form-label"></label>' +
                    '<div class="layui-input-inline">' +
                    '<input style="border: white;width: 300px" autocomplete="off" type="tel" name="phone" value="'+data.description+'" class="layui-input sign">' +
                    '</div>' +
                    '</div>' +
                    '</td>' +
                    '<td>'+data.create_time+'</td>' +
                    '<td> ' +
                    '<div>' +
                    '<a onclick="editMobile($(this));"  class="layui-btn editBtn">修改</a>' +
                    '<a onclick="deleteMobile('+data.id+');"   class="layui-btn layui-btn-danger delBtn">删除</a>' +
                    '</div>' +
                    '</td>'+
                    '</tr>'
            })
            $('#phoneList').html(temple)

    }

     function editMobile(obj){
        var This = obj;
        var sendData = {
            'id' : This.parents('tr').find('.phone_id').html(),
            'name' : This.parents('tr').find('.phone').val(),
            'password' : This.parents('tr').find('.password').val(),
            'description' : This.parents('tr').find('.sign').val(),
        }
         var url = $('#editUrl').val()
         $.post(url,sendData,function(res){
              layer.msg(res.msg);
         })
     }

     function deleteMobile(id){
         var url = $('#delUrl').val()
        $.post(url,{'id':id},function (res) {
            layer.msg(res.msg);
            getList();
        })
     }

</script>
{/block}
{block name="footer"}{/block}