<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            border-color: grey;
        }
        .fix {
            display: flex;
            border: 1px solid;
            text-align: center
        }
    </style>
</head>
<body>
    <div class="fix" style="border-bottom:none">
        <div style="flex: 1;padding: 10px;text-align: left;line-height: 40px;">{$info.name}</div>
    </div>
    <div class="fix" style="height: 650px">
        <div style="flex: 1;padding: 10px;text-align: left;line-height: 40px;">{$info.description}</div>
    </div>
</body>
</html>